h1{
    color: blue;
}
.pro{
    padding: 50px;
}
.mr-auto.navbar-nav {
    margin-left: auto;
    margin-right: 10px !important;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 20px 50px;
}
.logo{
    width: 120px;
    height: auto;
}
